#Compression
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</ifModule>
# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
<FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz|webp)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=2592000, private"
</FilesMatch>
<filesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Enleve le cache pour les ressources dynamiques
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers
#Cache navigateur
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/webp « access 1 month »
ExpiresByType image/jpg « access 1 month »
ExpiresByType image/jpeg « access 1 month »
ExpiresByType image/gif « access 1 month »
ExpiresByType image/png « access 1 month »
ExpiresByType text/css « access 1 month »
ExpiresByType application/pdf « access 1 month »
ExpiresByType text/x-javascript « access 1 month »
ExpiresByType application/x-shockwave-flash « access 1 month »
ExpiresByType image/x-icon « access 1 month »
ExpiresDefault « access 2 days »
</IfModule>
#Redirection www
RedirectPermanent https://www.wibeunltd.github.io/WillyBeaucal_4_08122020/
https://wibeunltd.github.io/WillyBeaucal_4_08122020/
